<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">  @*Это что бы работать с Font Awesome иконками*@


<div class="flex items-end gap-2">
    <a href="#" class="px-4 py-2 border rounded inline-flex items-center">
        <span class="mr-2">.button .button-clean .button-with-icon</span>

        <svg class="w-6 h-6 fill-none stroke-current">
            <use href="img/s-spr.svg#servers"></use>
        </svg>
    </a>

    <a href="#" class="px-3 py-1 border rounded inline-flex items-center text-sm">
        <svg class="w-4 h-4 fill-none stroke-current mr-2">
            <use href="img/s-spr.svg#servers"></use>
        </svg>

        <span>.button .button-clean .button-sm .button-with-icon</span>
    </a>
</div>
